In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sales9.csv")

In [3]:
data.head()

   Unnamed: 0                 DATE ITEM BRAND COUNTRY   REVENUE
0           0  2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1           1  2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2           2  2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3           3  2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4           4  2016-04-29 12:16:48   식품   0.0     CHN  182179.0

In [4]:
del data["Unnamed: 0"]

In [5]:
data.head()

                  DATE ITEM BRAND COUNTRY   REVENUE
0  2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1  2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2  2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3  2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4  2016-04-29 12:16:48   식품   0.0     CHN  182179.0

In [7]:
countries = data["COUNTRY"].unique()

In [10]:
with open("country_summary.csv", "w", encoding = "utf-8") as f:
    
    f.write("country, 총매출액, 건당 평균 구매액, 구매횟수\n")
    
    for i in countries:
        print (i + " start!\n")
        sum_ = data.ix[data['COUNTRY'] == i].sum()[4]
        print (i + " sum end!\n")
        count_ = data.ix[data['COUNTRY'] == i].count()[4]
        print (i + " count end!\n")
        mean_ = sum_/count_
        print (i + " mean end!\n")
        
        line = i + ", " + str(sum_) + ", " + str(mean_) + ", " + str(count_) + "\n"
        
        f.write(line)

CHN start!

CHN sum end!

CHN count end!

CHN mean end!

VNM start!

VNM sum end!

VNM count end!

VNM mean end!

JPN start!

JPN sum end!

JPN count end!

JPN mean end!

KOR start!

KOR sum end!

KOR count end!

KOR mean end!

OTH start!

OTH sum end!

OTH count end!

OTH mean end!

RUS start!

RUS sum end!

RUS count end!

RUS mean end!

THA start!

THA sum end!

THA count end!

THA mean end!

RST start!

RST sum end!

RST count end!

RST mean end!

SGP start!

SGP sum end!

SGP count end!

SGP mean end!

USA start!

USA sum end!

USA count end!

USA mean end!

TWN start!

TWN sum end!

TWN count end!

TWN mean end!

MYS start!

MYS sum end!

MYS count end!

MYS mean end!

GBR start!

GBR sum end!

GBR count end!

GBR mean end!

ASI start!

ASI sum end!

ASI count end!

ASI mean end!

PHL start!

PHL sum end!

PHL count end!

PHL mean end!

IDN start!

IDN sum end!

IDN count end!

IDN mean end!

AUS start!

AUS sum end!

AUS count end!

AUS mean end!

CAN start!

CAN sum end!

CAN count end!

CAN mean end!

FRA start!

FRA sum end!

FRA count end!

FRA mean end!

EUR start!

EUR sum end!

EUR count end!

EUR mean end!

MAS start!

MAS sum end!

MAS count end!

MAS mean end!

INA start!

INA sum end!

INA count end!

INA mean end!

HKG start!

HKG sum end!

HKG count end!

HKG mean end!

PHI start!

PHI sum end!

PHI count end!

PHI mean end!

SEA start!

SEA sum end!

SEA count end!

SEA mean end!

IND start!

IND sum end!

IND count end!

IND mean end!

ORS start!

ORS sum end!

ORS count end!

ORS mean end!