In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("sales8.csv")
data.head()

   Unnamed: 0                 DATE ITEM BRAND COUNTRY   REVENUE
0           0  2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1           1  2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2           2  2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3           3  2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4           4  2016-04-29 12:16:48   식품   0.0     CHN  182179.0

In [3]:
del data["Unnamed: 0"] # 필요없는 열 삭제

In [4]:
data.head()

                  DATE ITEM BRAND COUNTRY   REVENUE
0  2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1  2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2  2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3  2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4  2016-04-29 12:16:48   식품   0.0     CHN  182179.0

In [5]:
countries = data['COUNTRY'].unique()
countries

array(['CHN', 'VNM', 'JPN', 'KOR', 'OTH', 'RUS', 'THA', 'RST', 'SIN',
       'USA', 'TWN', 'MYS', 'GBR', 'ASI', 'KR ', 'ZZ ', 'CN ', 'JP ',
       'TW ', 'US ', 'TH ', 'PHL', 'IDN', 'SGP', 'AUS', 'CAN', 'EST',
       'PER', 'FRA', 'KHM', 'ITA', 'JOR', 'GHA', 'KAZ', 'UZB', 'EUR',
       'MAS', 'VIE', 'INA', 'HKO', 'PHI', 'UKR', 'KGZ', 'DEU', 'HK ',
       'SEA', 'NZL', 'IND', 'TUR', 'MEX', 'LAO', 'MNG', 'SAU', 'KOK',
       'FJI', 'RU ', 'HRV', 'CZE', 'SWE', 'MMR', 'ORS', 'HKG', 'ISR',
       'HUN', 'CHE', 'NOR', 'RK ', 'PH ', 'THI', 'NLD', 'NRU', 'CRI',
       'PLW', 'BRN', 'GER', 'BGD', 'EGY', 'IRL', 'DNK', 'COL', 'ROU',
       'ARE', 'BRA', 'GRC', 'ESP', 'ZAF', 'ZMB', 'BEL', 'FIN', 'MLI',
       'ECU', 'ARS', 'IOT', 'SYR', 'MWI', 'BGR', 'MLT', 'CYP', 'POL',
       'CMR', 'LKA', 'NGA', 'AUT', 'ATG', 'PRT', 'NPL', 'BOL', 'VEN',
       'JRS', 'MAC', 'PAK', 'ZWE', 'CHL', 'ARM', 'ARG', 'COG', 'PAN',
       'HND', 'ETH', 'TJK', 'BLR', 'IRN', 'ERI', 'NER', 'SVK', 'CIV'], dtype=object)

In [6]:
# 3-Letter 나라 코드들로 바꿀 2-Letter dictionary
convert_country = {
    "CN ":"CHN", "KR ":"KOR", "JP ":"JPN", "VIE":"VNM", "SIN":"SGP",
    "THI":"THA", "US ":"USA", "HKO":"HKG", "TW ":"TWN", "HK ":"HKG",
    "TH ":"THA", "PH ":"PHL",
}

# replace country names 2-Letter -> 3-Letter
for old_country_name, new_country_name in convert_country.items():
    data["COUNTRY"].replace([old_country_name],[new_country_name], inplace=True)

countries = data['COUNTRY'].unique()
countries

array(['CHN', 'VNM', 'JPN', 'KOR', 'OTH', 'RUS', 'THA', 'RST', 'SGP',
       'USA', 'TWN', 'MYS', 'GBR', 'ASI', 'ZZ ', 'PHL', 'IDN', 'AUS',
       'CAN', 'EST', 'PER', 'FRA', 'KHM', 'ITA', 'JOR', 'GHA', 'KAZ',
       'UZB', 'EUR', 'MAS', 'INA', 'HKG', 'PHI', 'UKR', 'KGZ', 'DEU',
       'SEA', 'NZL', 'IND', 'TUR', 'MEX', 'LAO', 'MNG', 'SAU', 'KOK',
       'FJI', 'RU ', 'HRV', 'CZE', 'SWE', 'MMR', 'ORS', 'ISR', 'HUN',
       'CHE', 'NOR', 'RK ', 'NLD', 'NRU', 'CRI', 'PLW', 'BRN', 'GER',
       'BGD', 'EGY', 'IRL', 'DNK', 'COL', 'ROU', 'ARE', 'BRA', 'GRC',
       'ESP', 'ZAF', 'ZMB', 'BEL', 'FIN', 'MLI', 'ECU', 'ARS', 'IOT',
       'SYR', 'MWI', 'BGR', 'MLT', 'CYP', 'POL', 'CMR', 'LKA', 'NGA',
       'AUT', 'ATG', 'PRT', 'NPL', 'BOL', 'VEN', 'JRS', 'MAC', 'PAK',
       'ZWE', 'CHL', 'ARM', 'ARG', 'COG', 'PAN', 'HND', 'ETH', 'TJK',
       'BLR', 'IRN', 'ERI', 'NER', 'SVK', 'CIV'], dtype=object)

In [8]:
delete_country = {
    "ZZ ":0
}

for c in countries:
    count = data.loc[data['COUNTRY'] == c].count()[0] # count 
    if count < 120: delete_country[c] = count         # 거래건수가 120 이하인 나라들은 삭제

delete_country # 삭제할 나라 목록과 거래건수

{'ARE': 6,
 'ARG': 2,
 'ARM': 1,
 'ARS': 3,
 'ATG': 1,
 'AUT': 9,
 'BEL': 10,
 'BGD': 1,
 'BGR': 1,
 'BLR': 1,
 'BOL': 2,
 'BRA': 10,
 'BRN': 6,
 'CHE': 11,
 'CHL': 4,
 'CIV': 1,
 'CMR': 1,
 'COG': 1,
 'COL': 5,
 'CRI': 2,
 'CYP': 2,
 'CZE': 29,
 'DEU': 42,
 'DNK': 2,
 'ECU': 1,
 'EGY': 2,
 'ERI': 2,
 'ESP': 7,
 'EST': 1,
 'ETH': 5,
 'FIN': 6,
 'FJI': 1,
 'GER': 1,
 'GHA': 1,
 'GRC': 7,
 'HND': 1,
 'HRV': 3,
 'HUN': 4,
 'IOT': 1,
 'IRL': 14,
 'IRN': 1,
 'ISR': 36,
 'ITA': 81,
 'JOR': 3,
 'JRS': 40,
 'KAZ': 89,
 'KGZ': 8,
 'KHM': 61,
 'KOK': 83,
 'LAO': 10,
 'LKA': 8,
 'MAC': 5,
 'MEX': 37,
 'MLI': 1,
 'MLT': 1,
 'MMR': 19,
 'MNG': 58,
 'MWI': 1,
 'NER': 2,
 'NGA': 2,
 'NLD': 11,
 'NOR': 4,
 'NPL': 12,
 'NRU': 1,
 'NZL': 67,
 'PAK': 7,
 'PAN': 1,
 'PER': 6,
 'PLW': 1,
 'POL': 3,
 'PRT': 3,
 'RK ': 31,
 'ROU': 9,
 'RU ': 65,
 'SAU': 3,
 'SVK': 1,
 'SWE': 6,
 'SYR': 1,
 'TJK': 1,
 'TUR': 25,
 'UKR': 6,
 'UZB': 88,
 'VEN': 1,
 'ZAF': 6,
 'ZMB': 1,
 'ZWE': 1,
 'ZZ ': 0}

In [9]:
delete_country.keys() # 삭제할 나라 목록

dict_keys(['MWI', 'KHM', 'SWE', 'KGZ', 'NER', 'IRL', 'DNK', 'BGR', 'NRU', 'PER', 'ISR', 'RK ', 'ERI', 'CIV', 'PAN', 'BOL', 'KOK', 'ZMB', 'COG', 'ROU', 'ZZ ', 'LKA', 'MAC', 'ATG', 'CZE', 'UKR', 'JRS', 'NGA', 'UZB', 'CMR', 'NZL', 'BEL', 'PAK', 'ETH', 'JOR', 'GHA', 'MLI', 'HND', 'CRI', 'IOT', 'ESP', 'HUN', 'POL', 'GRC', 'NPL', 'FIN', 'MMR', 'COL', 'RU ', 'NOR', 'ZAF', 'EST', 'TJK', 'BRN', 'ITA', 'MLT', 'VEN', 'TUR', 'ZWE', 'ARM', 'GER', 'PLW', 'BLR', 'MEX', 'NLD', 'PRT', 'CYP', 'FJI', 'SAU', 'DEU', 'IRN', 'ARE', 'BGD', 'ARS', 'HRV', 'SYR', 'MNG', 'CHL', 'EGY', 'ECU', 'CHE', 'ARG', 'KAZ', 'SVK', 'LAO', 'BRA', 'AUT'])

In [10]:
data = data[data["COUNTRY"].isin(delete_country.keys()) == False]  # 삭제
data['COUNTRY'].unique()  # 삭제한 뒤에 남은 나라들

array(['CHN', 'VNM', 'JPN', 'KOR', 'OTH', 'RUS', 'THA', 'RST', 'SGP',
       'USA', 'TWN', 'MYS', 'GBR', 'ASI', 'PHL', 'IDN', 'AUS', 'CAN',
       'FRA', 'EUR', 'MAS', 'INA', 'HKG', 'PHI', 'SEA', 'IND', 'ORS'], dtype=object)

In [11]:
data

                       DATE ITEM BRAND COUNTRY   REVENUE
0       2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1       2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2       2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3       2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4       2016-04-29 12:16:48   식품   0.0     CHN  182179.0
5       2016-04-29 12:16:48   식품   0.0     CHN  283037.0
6       2016-04-29 12:18:12   식품   0.0     CHN   19450.0
7       2016-04-29 12:23:25   식품   0.0     CHN   22918.0
8       2016-04-29 12:24:42   식품   0.0     CHN   50400.0
9       2016-05-03 16:36:56  화장품   1.0     CHN   44386.0
10      2016-05-03 16:36:56   피혁   1.0     CHN   58043.0
11      2016-05-03 16:47:06   의류   1.0     VNM   43248.0
12      2016-05-03 16:47:06   피혁   1.0     VNM  158196.0
13      2016-05-03 16:53:48  화장품   1.0     JPN   44385.0
14      2016-05-03 17:02:01  화장품   1.0     KOR   20486.0
15      2016-05-03 17:03:32   피혁   1.0     KOR   80805.0
16      2016-05-03 17:18:42   피혁   1.0     JPN   87634.0
17      2016-05-03 17:26:03  화장품   1.0     JPN   44385.0
18      2016-05-03 17:26:03   피혁   1.0     JPN  117224.0
19      2016-05-03 17:26:03  화장품   1.0     JPN   37557.0
20      2016-05-03 17:31:43   피혁   1.0     OTH   58043.0
21      2016-05-03 17:34:12   피혁   1.0     JPN   70562.0
22      2016-05-03 17:46:01   피혁   1.0     JPN   47800.0
23      2016-05-03 17:46:01   피혁   1.0     JPN  117224.0
24      2016-05-03 17:53:57   의류   1.0     RUS   51210.0
25      2016-04-29 11:06:49  화장품   0.0     KOR   67563.0
26      2016-04-29 11:45:09  화장품   0.0     KOR   33209.0
27      2016-04-29 11:45:09  화장품   0.0     KOR   68754.0
28      2016-04-29 11:48:21  화장품   0.0     CHN   72178.0
29      2016-04-29 11:48:21  화장품   0.0     CHN   61878.0
...                     ...  ...   ...     ...       ...
782667  2016-05-06 09:46:35   향수   0.0     TWN   81850.0
782668  2016-05-06 09:54:22  화장품   0.0     KOR  102300.0
782669  2016-05-06 09:55:34  화장품   0.0     KOR   63650.0
782670  2016-05-06 09:56:34  화장품   0.0     KOR   70500.0
782671  2016-05-06 10:08:32  화장품   0.0     VNM   70500.0
782672  2016-05-06 10:14:42  화장품   0.0     CHN   34100.0
782673  2016-05-06 10:30:50  화장품   0.0     KOR  118242.0
782674  2016-05-06 10:32:19  화장품   0.0     OTH  134178.0
782675  2016-05-06 10:35:27  화장품   0.0     KOR  129605.0
782676  2016-05-06 10:36:29  화장품   0.0     KOR   63657.0
782677  2016-05-06 10:38:35  화장품   0.0     CHN   36350.0
782678  2016-05-06 10:39:47  화장품   0.0     CHN   34100.0
782679  2016-05-06 10:40:47  화장품   0.0     KOR   34100.0
782680  2016-05-06 10:43:30   향수   0.0     RUS   81871.0
782681  2016-05-06 10:44:33  화장품   0.0     CHN  129600.0
782682  2016-05-06 10:46:30   향수   0.0     CHN  100050.0
782683  2016-05-06 10:48:09  화장품   0.0     KOR  104600.0
782684  2016-05-06 10:50:22  화장품   0.0     KOR  104600.0
782685  2016-05-06 10:52:41  화장품   0.0     CHN   90076.0
782686  2016-05-06 10:54:15  화장품   0.0     CHN   68200.0
782687  2016-05-06 10:55:15  화장품   0.0     JPN   34100.0
782688  2016-05-06 10:57:38  화장품   0.0     CHN   63650.0
782689  2016-05-06 07:04:09  화장품   0.0     CHN   81871.0
782690  2016-05-06 07:23:20  화장품   0.0     CHN  109155.0
782691  2016-05-06 10:22:10  화장품   0.0     CHN  440050.0
782692  2016-05-06 10:26:31  화장품   0.0     CHN  389995.0
782693  2016-05-06 10:28:51  화장품   0.0     CHN   46600.0
782694  2016-05-06 10:37:36  화장품   0.0     CHN  247848.0
782695  2016-05-06 10:42:18  화장품   0.0     CHN  210350.0
782696  2016-05-06 12:31:41  화장품   0.0     CHN  289950.0

[778701 rows x 5 columns]

In [16]:
data.to_csv("sales9.csv", encoding="utf-8")  # 결과를 sales9.csv 로 저장